<div class="row">
  <div class="col-12">
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">

      <!-- Save & Cancel Buttons -->
      <div class="row">
        <div class="col-12">
          <button type="submit" class="btn btn-success" [disabled]="!recipeForm.valid" (click)="onSubmit()">Save</button>
          <button type="button" class="btn btn-danger mx-3" (click)="onCancel()">Cancel</button>
        </div>
      </div>

      <hr>

      <!-- Image Path -->
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="imagePath">Image Path</label>
            <input
              type="text"
              class="form-control"
              formControlName="imagePath"
            />
          </div>
        </div>
      </div>

      <!-- Image Preview -->
      <div class="row">
        <div class="col-12 text-center">
          <img
            [src]="recipeForm.get('imagePath').value"
            class="img-responsive rounded"
          />
        </div>
      </div>

      <!-- Name -->
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" formControlName="name" />
          </div>
        </div>
      </div>

      <!-- Description -->
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="name">Description</label>
            <textarea
              type="text"
              class="form-control"
              rows="6"
              formControlName="description"
            ></textarea>
          </div>
        </div>
      </div>

      <!-- Ingredients -->
      <div class="row">
        <div class="col-12" formArrayName="ingredients">
          <label for="ingredients">Ingredients</label>
          <div class="row my-2" *ngFor="let ingredient of getControls(recipeForm.get('ingredients')); let i = index" [formGroupName]="i">
            <div class="col-xs-12 col-md-8 my-1">
              <input type="text" class="form-control" formControlName="name"/>
            </div>
            <div class="col-xs-12 col-md-2 my-1">
              <input type="number" class="form-control" formControlName="amount"/>
            </div>
            <div class="col-xs-2 col-md-2 my-1">
              <button type="button" class="btn btn-danger btn-block" (click)="onDeleteIngredient(i)">X</button>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <button class="btn btn-success" type="button" (click)="onAddIngredient()">Add Ingredient</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
