<a
  class="list-group-item list-group-item-action pb-4 my-2"
  [routerLink]="[recipe.id]"
  routerLinkActive="active"
  style="cursor: pointer;"
>
  <div>
    <img [src]="recipe.imagePath" class="img-fluid rounded float-right ml-3" />
    <h5 class="mb-2">
      <b>{{ recipe.name }}</b>
    </h5>
    <p>{{ recipe.description }}</p>
  </div>
</a>
