<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a [routerLink]="['/']" class="navbar-brand">Recipe Book</a>
  <ul class="navbar-nav mr-auto">
    <ng-container *ngFor="let microApp of microApps">
      <ng-container [ngSwitch]="microApp.name">
        <ng-container *ngSwitchCase="'recipes'">
          <li class="nav-item" routerLinkActive="active">
            <a [routerLink]="['/recipes']" class="nav-link">Recipes</a>
          </li>
        </ng-container>
        <ng-container *ngSwitchCase="'shopping-list'">
          <li class="nav-item" routerLinkActive="active">
            <a [routerLink]="['/shopping-list']" class="nav-link">Shopping List</a>
          </li>
        </ng-container>
      </ng-container>
    </ng-container>
  </ul>
  <ul class="navbar-nav">
    <ng-template [ngIf]="!isAuthenticated()">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/signup">Register</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/signin">Sign In</a>
      </li>
    </ng-template>
    <ng-template [ngIf]="isAuthenticated()">
      <li class="nav-item" style="cursor: pointer;">
        <a class="nav-link" (click)="onSignOut()">Sign Out</a>
      </li>
      <li class="nav-item dropdown" style="cursor: pointer;" appDropdown>
        <a class="nav-link dropdown-toggle">
          Manage
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" style="cursor: pointer;" (click)="onSave()"
            >Save Data</a
          >
          <a class="dropdown-item" style="cursor: pointer;" (click)="onFetch()"
            >Fetch Data</a
          >
        </div>
      </li>
    </ng-template>
  </ul>
</nav>
