<img [src]="recipe.imagePath" class="img-fluid rounded float-right" />
<h2>{{ recipe.name }}</h2>
<!-- Manage Recipe Dropdown -->
<div class="row my-3">
  <div class="col-12">
    <div class="dropdown my-3" appDropdown>
      <button class="btn btn-primary dropdown-toggle" id="manageRecipeDropdown">
        Manage Recipe
      </button>
      <div class="dropdown-menu">
        <a
          class="dropdown-item"
          (click)="onAddToShoppingList()"
          style="cursor: pointer;"
          >Add to Shopping List</a
        >
        <a
          [routerLink]="['edit']"
          class="dropdown-item"
          style="cursor: pointer;"
          >Edit Recipe</a
        >
        <a class="dropdown-item" style="cursor: pointer;" (click)="onDeleteRecipe()">Delete Recipe</a>
      </div>
    </div>
  </div>
</div>
<!-- Description -->
<div class="row my-3">
  <div class="col-12">
    <h4>Description</h4>
    <p>{{ recipe.description }}</p>
  </div>
</div>
<!-- Ingredients -->
<div class="row my-3">
  <div class="col-12">
  <h4>Ingredients</h4>
    <ul class="list-group">
      <li
        class="list-group-item list-group-item-action"
        *ngFor="let ingredient of recipe.ingredients"
      >
        {{ ingredient.name }} ({{ ingredient.amount }})
      </li>
    </ul>
  </div>
</div>
