<form [formGroup]="ingredientForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-xs-6 col-md-5 form-group">
      <label for="name">Name</label>
      <input
        type="text"
        id="name"
        class="form-control"
        formControlName="ingredientName"
      />
      <small
        class="form-text text-muted"
        *ngIf="
          ingredientForm.get('ingredientName').touched &&
          ingredientForm.get('ingredientName').hasError('required')
        "
        >Please enter a name for the ingredient
      </small>
    </div>
    <div class="col-xs-6 col-md-2 form-group">
      <label for="amount">Amount</label>
      <input
        type="number"
        id="amount"
        class="form-control"
        formControlName="amount"
      />
      <small
        class="form-text text-muted"
        *ngIf="
          ingredientForm.get('amount').touched &&
          ingredientForm.get('amount').hasError('required')
        "
        >Please enter an amount of ingredients
      </small>
      <small
        class="form-text text-muted"
        *ngIf="
          ingredientForm.get('amount').touched &&
          ingredientForm.get('amount').hasError('pattern')
        "
        >Use a valid number greater than zero for the amount
      </small>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <button
        class="btn btn-success"
        type="submit"
        [disabled]="!ingredientForm.valid"
      >
        {{ editMode ? 'Update Ingredient' : 'Add Ingredient' }}
      </button>
      <button
        class="btn btn-primary mx-3"
        type="button"
        (click)="ingredientForm.reset()"
      >
        Clear Form
      </button>
      <button class="btn btn-danger" type="button" *ngIf="editMode" (click)="onDeleteIngredient()">
        Delete Ingredient
      </button>
    </div>
  </div>
</form>
