<button class="btn btn-success btn-block" [routerLink]="['new']">
  Add Recipe
</button>
<hr />
<div class="row">
  <div class="col-12">
    <div class="list-group">
      <app-recipe-item
        *ngFor="let item of recipes"
        [recipe]="item"
      ></app-recipe-item>
    </div>
  </div>
</div>
