<div class="row">
  <div class="col-xs-12 col-md-6 offset-md-3">
    <h1 class="my-3 text-center">Sign Up</h1>
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Email</label>
        <input class="form-control" type="email" formControlName="email" />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          class="form-control"
          type="password"
          formControlName="password"
        />
      </div>
      <button
        class="btn btn-primary btn-block"
        type="submit"
        [disabled]="!signUpForm.valid"
      >
        Sign Up
      </button>
    </form>
  </div>
</div>
