<div class="row my-3">
  <!-- Shopping Edit -->
  <app-shopping-list-edit class="col-12 mb-3"></app-shopping-list-edit>
  <!-- Shopping List -->
  <div class="col-xs-12 col-md-8">
    <div class="list-group">
      <a
        class="list-group-item list-group-item-action"
        style="cursor: pointer;"
        *ngFor="let ingredient of ingredients"
        (click)="onEditItem(ingredient)"
        >{{ ingredient.name }} ({{ ingredient.amount }})</a
      >
    </div>
  </div>
</div>
